<configuration>

    <timestamp key="bySecond" datePattern="yyMMdd-HH:mm:ss"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DATA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/DeletedData.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/DeletedData.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss}  %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PROCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>logs/Process.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/Process.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss}  %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.franksang" level="INFO">
        <appender-ref  ref="PROCESS_FILE"/>
    </logger>

    <logger name="rowsLogger" level="INFO">
        <appender-ref  ref="DATA_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>